<a href="{{ product.url }}" class="">
  <div
    class="md:p-6 p-4 w-full md:rounded-[20px] rounded-[12px] border border-gray-100 bg-white  transition-shadow duration-300"
  >
    <div class="relative overflow-hidden md:rounded-[16px] rounded-[8px]">
      <img
        src="{{ product.featured_image | img_url: 'master' }}"
        width="400"
        height="400"
        alt="{{ product.title }}"
        class="md:h-[280px] h-[200px] w-full object-cover transform hover:scale-105 transition-transform duration-500"
      >
    </div>

    <div class="md:mt-6 mt-4 flex flex-col md:gap-4 gap-3">
      <div class="flex justify-between items-start">
        <div class="flex-1">
          <h3 class="text-gray-800 font-poppins md:text-2xl text-sm font-semibold leading-tight mb-2">
            {{ product.title | truncate: 25 }}
          </h3>
          <p class="text-gray-500 font-poppins md:text-base text-xs">
            {{ product.vendor }}
          </p>
        </div>

        <div class="flex flex-col items-end gap-1">
          <div class="flex items-center text-amber-400">
            {% render 'star-rating', rating: product.metafields.reviews.rating %}
          </div>
          <p class="text-gray-500 md:text-sm text-xs">({{ product.metafields.reviews.rating_count | default: '0' }})</p>
        </div>
      </div>

      <div class="flex justify-between items-center mt-2">
        <p class="text-gray-800 font-poppins md:text-3xl text-xl font-semibold">
          {{ product.price | money_without_trailing_zeros }}
        </p>
        {% if product.available %}
          <span class="inline-flex items-center md:px-4 px-3 md:py-2 py-1 rounded-full bg-green-50 text-green-600 md:text-base text-sm font-medium">
            In Stock
          </span>
        {% else %}
          <span class="inline-flex items-center md:px-4 px-3 md:py-2 py-1 rounded-full bg-red-50 text-red-600 md:text-base text-sm font-medium">
            Sold Out
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</a>
